{% extends "recipes/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mb-4">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">New Recipe</legend>
          {{ form|crispy }}
          <div class="container ml-15 mb-4">
          <legend class="border-bottom mb-4">Ingredients</legend>
          {% if recipe_ing_updateformset %}
            {{ recipe_ing_updateformset|crispy }}
            <p class="border-bottom mb-4">Add new ingredients</p>
            {{ recipe_ing_formset|crispy }}
          {% else %}
            <!-- {{ recipe_ing_formset|crispy }} -->
            {{ recipe_ing_formset.management_form }}
            {% for subform in recipe_ing_formset %}
            <div class="container mb-4"><br>
              {{ subform|crispy }}
            </div>
            {% endfor %}
          {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
        {% if recipe_ing_updateformset %}
          <button class="btn btn-outline-info" type="submit">Update</button>
        {% else %}
          <button class="btn btn-outline-info" type="submit">Create</button>
        {% endif %}
      </div>
    </form>

  </div>
{% endblock %}
