{% extends "recipes/layout.html" %}

{% block content %}
  {% if results %}
    <div class="container search-section">
      <h1>Search results for "{{ search_for }}"</h1>
      <p> Showing {{ recipes|length }} results</p>
    </div>
  {% endif %}

  {% for recipe in recipes %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ recipe.author }}</a>
          <small class="text-muted">{{ recipe.date_posted }}</small>
        </div>
        <h2><a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.name|title }}</a></h2>
        <p class="article-content">{{ recipe.description }}</p>
      </div>
    </article>

  {% endfor %}
{% endblock %}

</html>
