{% extends "recipes/layout.html" %}

{% block content %}
  {% if results %}
    <div class="container search-section">
      <h1>Search results for "{{ search_for }}"</h1>
      <p> Showing {{ recipes|length }} results</p>
    </div>
  {% endif %}

  {% if author %}
    <div class="container search-section">
      <h1>Recipes by {{ author.username }}</h1>
    </div>
  {% endif %}

  {% for recipe in recipes %}
    <article class="media content-section">
      {% if recipe.header_image %}
      <img class="rounded-circle article-img" src="{{ recipe.header_image.url }}">
      {% endif %}
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'recipes:author' recipe.author.pk %}">{{ recipe.author }}</a>
          <small class="text-muted">{{ recipe.date_posted }}</small>
        </div>
        <h2><a href="{% url 'recipes:recipe' recipe.id %}">{{ recipe.name|title }}</a></h2>
        <p class="article-content">{{ recipe.description }}</p>
      </div>
    </article>

  {% endfor %}
{% endblock %}

</html>
