{% extends "recipes/layout.html"%}

{% block content %}


  <div class="container">
    <h2>{{ recipe.name }}</h2>
    {% if user.is_authenticated and user == recipe.author %}
      <a class="btn btn-outline-info right" href="{% url 'recipes:update' recipe.id %}">Update</a>
    {% endif %}
    <div class="article-metadata">
      <a href="#">by {{ recipe.author }}</a>
      <small class="recipe-month">{{ recipe.date_posted|date:"M Y" }}</small><br>
      {% if recipe.description != '' %}
        <p>"{{ recipe.description }}"</p>
      {% endif %}<br>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="ingredients-section">
          <h4>Ingredients</h4>
          <ul>
            {% for ingredient in recipe.recipeingredients.all %}
              {% if ingredient.amount == 0.00 or ingredient.amount == '' or ingredient.amount == None %}
                <li>{{ ingredient|title }}</li>
              {% else %}
                <li>{{ ingredient|title }} : {{ ingredient.amount }} {{ ingredient.unit }}</li>
              {% endif  %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="method-section">
            <h4>Directions</h4>
            <div class="">
              <p>{{ recipe.method|linebreaks }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
